@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
    --primary: rgb(13, 31, 45);
    --secondary: #39658761;

    --h3-gap: 0.6rem;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

p, td, input {
    color: #ddd;
}

h1, h2, h3, label {
    color: white;
    font-weight: bold;
}

h1 {
    font-size: 4.2rem;
    letter-spacing: 0.4rem;
}

h2 {
    margin: 1rem 0;
}

h3, label {
    font-size: 1rem;
}

h3 {
    margin-bottom: var(--h3-gap);
}

p {
    line-height: 1.5rem;
}

input {
    color-scheme: dark;
}

html {
    height: 100%;
}

body {
    background-color: var(--primary);
    display: flex;
    height: 100%;
}

main {
    margin: auto;
    opacity: 0;
    width: 70%;
    margin-top: 8rem;
}

table {
    border-radius: 10px;
    background-color: var(--secondary);
    padding: 0.5rem 0;
    width: 100%;
}

td {
    padding: 1rem 2rem;
}

input {
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--secondary);
    font-size: 1rem;
    margin-top: var(--h3-gap);
    padding: 1rem;
    width: 100%;
}

input[type="date"],
input[type="time"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

article {
    margin-bottom: 2.5rem;
}

.center {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.row {
    display: flex;
    align-items: center;
}

.copy {
    height: 2.2rem;
    cursor: pointer;
}

.field {
    width: 100%;
}

#index-l {
    width: 70%;
}

#index-r {
    width: 30%;
    background-color: var(--secondary);
    padding: 2rem 4rem;
}

#times {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#converter {
    display: flex;
    align-items: center;
    margin: 6rem 0 3rem 0;
    width: 100%;
    gap: 1rem;
}

#converter-l {
    display: flex;
    width: 100%;
    gap: 1.5rem;
}

#arrow {
    width: 2rem;
    margin-top: 2rem;
}

#unix-time {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1.2rem;
}

#subdate {
    font-size: 1.4rem;
}

@media only screen and (max-width: 85rem) {
    body {
        flex-direction: column;
    }

    main {
        margin: 10rem auto 5rem auto;
        width: 80%;
    }

    #index-l {
        width: auto;
    }

    #index-r {
        width: auto;
    }
}

@media only screen and (max-width: 50rem) {
    main {
        width: 90%;
    }

    #converter {
        flex-direction: column;
        gap: 0rem;
    }

    #arrow {
        margin: 1rem 0 -0.4rem 0;
    }
}

@media only screen and (max-width: 36rem) {
    html {
        font-size: 80%;
    }

    h1 {
        font-size: 2.8rem;
    }
}